body {
	font-family: sans-serif;
	background: #151619;
	color: #fff;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	width: 100%;
}

li {
	/* width: 300px; */
	margin-right: 10px;
	width: calc(100% / 4);
}

.container {
	max-width: 1050px;
	margin: auto;
	padding: 50px 0;
}

.current {
	width: 1050px;
}

.info h3 {
	margin-top: .5em;
}

.current h3 {
	margin-bottom: .5em;
}

.current span {
	width: 100%;
	display: block;
	font-weight: 100;
	opacity: .6;
}